  <form action="bmi" method ="get">
     <label for="first">What is your weight in kgs?</label>
     <input type ="text" name ="weight" placeholder ="Enter your weight">
     <label for="first">What is your height in metres?</label>
     <input type ="text" name ="height" placeholder ="Enter your height">
        <input type ="submit">
 </form>  

 <% if @result %>
   <p>Your BMI is: <%= @result %></p>
<% end %>
