<!DOCTYPE html>
<html>
<head>
  <title>My amazing calaculator app!</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <nav>
    <!-- <li><a href="/">HOME</a></li> -->
    <li><a href="/">BASIC_CALC</a></li>
    <li><a href="/power">POWER</a></li>
    <li><a href="/square">SQUARE ROOT</a></li>
    <li><a href="/bmi">BMI</a></li>
    <li><a href="/mortgage">MORTGAGE</a></li>
    <li><a href="/trip_calc">TRIP_CALC</a></li>
    </nav>
   <%= yield%> 
   <footer>
     <li><a href="/contact">CONTACT</a></li>
   </footer>
</body>
</html>