<form action="trip" method ="get">
     <label for="distance">Distance</label>
     <input type ="text" name ="distance" placeholder ="Enter distance">
     <label for="mpg">MPG</label>
     <input type ="text" name ="mpg" placeholder ="Enter mpg">
     <label for="price">Fuel price per gallon</label>
     <input type ="text" name ="price" placeholder ="Enter fuel price per gallon">
     <label for="speed">Speed</label>
     <input type ="text" name ="speed" placeholder ="Enter speed">
     <input type ="submit">
 </form>  

   <p>It will take you <%= @hours %> hours at a cost of <%= @cost %></p>

    








